---

---

<footer class="mt-160 mb-40 flex items-center justify-end gap-80 px-16 md:px-120">
  <a
    class="hover:text-accent inline-block leading-normal transition-colors duration-300"
    href="https://x.com/e_tyx0">X</a
  >
  <p class="leading-normal">©Akito Iuchi</p>
</footer>
