---

---

<header class="mt-40 md:mt-80">
  <h1 class="text-accent text-32 text-center font-mono tracking-[-0.02em]">Animation Practice</h1>
  <div
    class="space-side-x mt-40 grid grid-cols-4 items-end gap-16 md:mt-80 md:grid-cols-8 md:gap-40 lg:mt-120 lg:grid-cols-12"
  >
    <p
      class="text-10 col-span-2 col-start-1 font-mono leading-normal tracking-tight md:col-span-4 lg:col-span-3"
    >
      A simple site for<br />
      my animation practice logs.
    </p>
    <p class="col-span-3 col-start-4 hidden font-mono leading-normal tracking-tight lg:block">
      Making things move, bit by bit.
    </p>
    <p class="col-span-2 col-start-8 hidden font-mono leading-normal tracking-tight lg:block">
      Nothing special here.
    </p>
    <p
      class="text-10 col-span-2 col-start-3 text-right font-mono leading-normal tracking-tight md:col-span-3 md:col-start-10"
    >
      Only for<br />
      my boring animation practice.
    </p>
  </div>
</header>
