<header>
  <div class="fixed top-4 left-1/2 -translate-x-1/2 text-center p-4 mx-auto bg-white border border-[#4B81FF] rounded-[4px]">
    <p class="text-base leading-none font-[family-name:var(--font-work-sans)]">
      Animation Practice 03
    </p>
  </div>
</header>