<header>
  <div
    class="fixed top-16 left-1/2 mx-auto -translate-x-1/2 rounded-[4px] border border-[#4B81FF] bg-white p-16 text-center"
  >
    <p class="text-base leading-none">Animation Practice 02</p>
  </div>
</header>
