---
import Card from '@components/ui/Card.astro';
import sampleImg from '@images/img-sample.jpg';
---

<section>
  <div class="grid-colos-4 pd-64 mx-80 my-80 grid gap-40">
    <Card image={sampleImg} tags={['tag']} title="title" />
  </div>
</section>
