---
import Card from '@components/ui/Card.astro';
import sampleImg from '@images/img-sample.jpg';
---

<section>
  <div class="pd-64 mx-16 my-80 grid grid-cols-4 gap-40 md:mx-80">
    <Card image={sampleImg} tags={['tag']} title="title" />
  </div>
</section>
